# Linux unneeded files
*~
Session.vim
*.swp
*._swp
*.elc
*_flymake.*
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows unneeded files
*.tmp
thumbs.db
Thumbs.db
ehthumbs.db
EhThumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk
$RECYCLE.BIN/
Network Trash Folder
Temporary Items

# Mac OSX unneeded files
._*
.DS_Store
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.TemporaryItems
.com.apple.timemachine.donotpresent
.TPDLNA
.Trash-1000
.AppleDB
.AppleDesktop
.apdisk

# Eclipse unneeded files
bin/
tmp/
.settings/
.externalToolBuilders/
.recommenders/
.metadata
*.bak
*~.nib
local.properties
.project
.classpath
.loadpath
.recommenders
*.launch
*.pydevproject
.cproject
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.apt_generated
.cache-main
.scala_dependencies
.worksheet

# NetBeans unneeded files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml
jboss-web.xml
glassfish-web.xml

# Intellij IDEA unneeded files
.idea/
*.iws
*.iml
*.ipr

# Maven unneeded files
!.mvn/wrapper/maven-wrapper.jar
target/

# Compiled files
*.pyc
*.out
*.class
*.exe
*.com

# CSS Preprocessor build files
#*/src/**/*.css

# Application specific files
venv
node_modules
.sass-cache

# Nodejs unneeded files
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mock Data file
data.mock.json